<html>
<head>
<SCRIPT language="javascript" type="text/javascript">

function submitForm(){
new Ajax.Request('/print_out/process_subject_list_printout', {asynchronous:true, evalScripts:true, onComplete:function(request){PrintoutDone(request)}});

}

function PrintoutDone(request){
		window.open("/print_out/printout_done?print=subjectListPrintout",'Printout','menubar=0,resizable=1,height=250,width=300');
}
</script>
</head>
<body>
<form id="subjectListPrintout" method="post" action="">
<Table align=center>
	<tr>
		<th>Generate Subject List Printout</th>
	</tr>		
	<tr align="center">
      		<td><br><input type="button" value="Generate" name="generateBtn" onclick="submitForm();" >
		<input type="button" value="Main" name="mainBtn" onclick="showOpener()"></td>
    	</tr>
	<tr>
		<td><br><font color=red>Note: Please wait for the Pop up window for the generated printout.</font></td>
	</tr>
</Table>
</form>
</body>
</html>
