<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN">
<html>
	<head>
	<title>SCE Timetable Planning & Scheduling System</title></head>

	<frameset rows="140px,*" border="5">  
 	     <frame name="topFrame" src="top" scrolling="NO" noresize>
	     <frame name="mainFrame" src="welcome" scrolling="YES"> 
	</frameset><noframes></noframes>
</html>

