<!DOCTYPE HTML PUBLIC "-//W3C//Dtd HTML 4.0 Transitional//EN">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Edit Subject Assigned</title>
<link href="/stylesheets/style.css?1200832189" media="screen" rel="Stylesheet" type="text/css" />
<script src="/javascripts/JS_Function.js?1198430113" type="text/javascript"></script>
<script src="/javascripts/prototype.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/effects.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/controls.js?1198673475" type="text/javascript"></script>
<SCRIPT language="javascript" type="text/javascript">
function checkSharedSubjectCodesNo(){
var dom = document.getElementById("SharedSubjectCodesForm");
	if(dom.sharedSubjectCodesDDM.length>1){
		dom.confirmBtn.disabled=false;
	}else{
		dom.confirmBtn.disabled=true;
	} //end-if-else
} //end-checkSharedSubjectCodesNo()

function add(){
	moveItem('availSubjectDDM','sharedSubjectCodesDDM');
	checkSharedSubjectCodesNo();
} //end-add()
		
function remove(){
	moveItem('sharedSubjectCodesDDM','availSubjectDDM');
	checkSharedSubjectCodesNo();
} //end-remove()

function reloadSubject(val){
var dom = document.getElementById("SharedSubjectCodesForm");
	if(val=="2") 
	location.replace("edit_shared_subject_codes?sharedCodes=<%=@shared_codes%>")
	removeAllDDMItem('availSubjectDDM');
	count=0;
	<% 0.upto(@sub_list.length-1) do |sl|%>
		checkOk=true;
		for(var k=0; k<dom.sharedSubjectCodesDDM.length;k++){
			if (dom.sharedSubjectCodesDDM.options[k].value=="<%=@sub_list[sl].id%>"){
				checkOk=false;
				break;
			}	
		}
		if (checkOk){
			var newOption = new Option();
			newOption.text = "<%=@sub_list[sl].id+"   "+@sub_list[sl].subjectName%>";
			newOption.value ="<%=@sub_list[sl].id%>";
			dom.availSubjectDDM.options[count] = newOption;
			count++;
		}
		
	<% end %>
	checkSharedSubjectCodesNo();
}

function processConfirm(){
	var dom = document.getElementById("SharedSubjectCodesForm");
	var sharedSubjectCodes="";
	for(var k=0; k<dom.sharedSubjectCodesDDM.length;k++){
		sharedSubjectCodes+=dom.sharedSubjectCodesDDM.options[k].value+",";	
	}
	
	sharedSubjectCodes=sharedSubjectCodes.substr(0,sharedSubjectCodes.length-1);
	
	opener.document.getElementById("sharedSubCodes").value=sharedSubjectCodes;
	
	sharedSubName=dom.sharedSubjectCodesDDM.options[0].text.substr(6,dom.sharedSubjectCodesDDM.options[0].text.length);
	
	opener.document.getElementById("sharedSubjectName").value=sharedSubName;
	opener.document.getElementById("sharedSubjectName").focus();
	stripSpaces(opener.document.getElementById("sharedSubjectName"));
	showOpener();
}

function clearSearch(val){
var dom = document.getElementById("SharedSubjectCodesForm");
dom.searchSubjectBtn.disabled=false;
	val.value="";
	val.focus();
	
}

function searchSubject(){
var dom = document.getElementById("SharedSubjectCodesForm");
location.replace("edit_shared_subject_codes?sharedCodes=<%=@shared_codes%>&searchSubName="+dom.searchSub.value)
}

</SCRIPT>
</head>
<body onload="reloadSubject('1');">
<form id="SharedSubjectCodesForm" method="post" action="">
<table class="Table1" align=center>
	<tr align=center>
		<th colspan=3>Edit / Add Shared Subject Codes</th>
	</tr>
	<tr align="center">
		<td>Available Subjects (Not Shared Yet):<br><br>
			<input type="button" name="reloadSubjectBtn" onclick="reloadSubject('2');" value="Reload Subject" /><br>
					
			<Select style="width: 270px" size="10" id="availSubjectDDM" name="availSubjectDDM" multiple>
				
			</Select>
		</td>
	
		<td>
			<input type="button" name="Button" value="  >>  " onclick="add();"><br><br>
			<input type="button" name="Button" value="  <<  " onclick="remove();">    
		</td>
		  
		<td>Subject Code(s) to be shared:<br><br><br>
			<Select style="width: 270px" size="10" id="sharedSubjectCodesDDM" name="sharedSubjectCodesDDM" multiple>
				<% if @got_list %>
					<% 0.upto(@shared_codes_list.length-1) do |sc|%>
						<option value="<%=@shared_codes_list[sc].id%>"><%=@shared_codes_list[sc].id+"   "+@shared_codes_list[sc].subjectName%> </option>
					<% end %>
				<% end %>
			</Select>
			
		</td>
	</tr>
	<tr align=center><td>
	<input id="searchSub" name="searchSub" type=text style="width:220px" value="Search Subject By Name" onfocus="clearSearch(this);" onkeydown="if(event.keyCode==13) event.keyCode=9;"/><input type="button" value="Search" id="searchSubjectBtn" name="searchSubjectBtn" style="width:50px"  onClick="searchSubject();" disabled>
	</td></tr>
	<tr><td></td></tr>
	<tr align=center><td colspan=3><font color=red>Note: Min. 2 subject codes have to be selected to be shared.</font></td></tr>		
	<tr align="center">
		<td colspan=3>
			<input type="button" name="confirmBtn" disabled onclick="processConfirm();" value="Confirm" />
			<input type="button" value="Cancel" name="cancelBtn" tabIndex="9" onclick="showOpener()">
		</td>
	</tr>
</table>
</form>
</body>
</html>

