<div style="text-align:center">
<font color="#804000"><b>DONE: Extracted from Excel and STARS File, Inserted into DB:: </b></font><br><b>
1) Subject <br>
2) Venue <br>
3) Lesson <br>
4) Lesson Group <br>
5) Slot Allocation <br>
6) Staff Assignment <br>
<br>
You may have to check is there any venue clash from the function Printout-->Venue Clash.
</div>
