<div style="text-align:center">
<font color="#804000" size=3><b>STARS uploaded succesffuly.</b></font><br> 
<br>

<font color="#FF00FF" size=3><b>Click "Import To DB" to proceed</b></font><br> 
<br />
<%= start_form_tag ({:action => "import"}, {:multipart => true}) %>
  <%= submit_tag  "Import To DB" %>
</p>
<%= end_form_tag %>
</div>
</div>
