<html>
<head><title>Excel File Generated.</title></head>
<body>
<font size=4>
<font color=blue><b>Excel File Generated.</b></font><br>
<font color=red>Please click on the link below and Save the file elsewhere. Thanks. </font><br>
<font color=blue><b><%=link_to "showTT.xls",{:controller=>"stars",:action =>"download", :fname=>"showTT.xls"} %> </b></font>
</font>
</body>
</html>
