<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Schedule Class</title>
		<style type="text/css">
		.style1 {
			font-size: 16px;
			font-weight: bold;
			color: #0066CC;
		}
		</style>
<script src="/javascripts/JS_Function.js?1198430113" type="text/javascript"></script>
<script src="/javascripts/prototype.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/effects.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js?1198673475" type="text/javascript"></script>
<script src="/javascripts/controls.js?1198673475" type="text/javascript"></script>
<SCRIPT language="javascript" type="text/javascript">
var slotDetails=new Array();


function setInfoArray(){	
	<% 0.upto(@slot_details.length-1) do |sl|
		%>
		var tempArr=new Array();
		tempArr['allocId']="<%=@slot_details[sl].allocId%>";
		tempArr['lessonType']="<%=@slot_details[sl].lessonType%>";
		tempArr['groupIndex']="<%=@slot_details[sl].groupIndex%>";
		tempArr['venueName']="<%=@slot_details[sl].venueName%>";
		tempArr['freq']="<%=@slot_details[sl].freq%>";
		tempArr['teachLessonWeek']="<%=@slot_details[sl].teachLessonWeek%>";
		tempArr['staffName']="<%=@slot_details[sl].staffName%>";
		tempArr['staffId']="<%=@slot_details[sl].staffId%>";
		tempArr['startTime']="<%=@slot_details[sl].startTime%>";
		tempArr['endTime']="<%=@slot_details[sl].endTime%>";
		tempArr['dayOfWeek']="<%=@slot_details[sl].dayOfWeek%>";
		slotDetails[<%=sl%>]=tempArr;
		<%
		end 
		%>
}

function groupChange(){
	var dom = document.getElementById("MainForm");
	ind=dom.grpList.selectedIndex
	setInfoArray();
	onChangeGrpInSlot(ind);
	checkExistLecturer();
}

function onChangeGrpInSlot(index){
	var dom = document.getElementById("MainForm");
	
	dom.ctSel.value=slotDetails[index]['lessonType'];
	dom.freqSel.value=slotDetails[index]['freq'];
	dom.grpSel.value=slotDetails[index]['groupIndex'];
	var teachArr=new Array();
			teachArr=slotDetails[index]['teachLessonWeek'].split(",");
			var ct=0;
	if (slotDetails[index]['freq']=="Weekly"){
		for(weekNum=1; weekNum<=dom["teachWeekCheckbox[]"].length; weekNum++){
			if(teachArr[ct]==weekNum){
			dom["teachWeekCheckbox[]"][weekNum-1].checked = true;
			ct++;
			}
			else{
			dom["teachWeekCheckbox[]"][weekNum-1].checked = false;
			}
			dom["teachWeekCheckbox[]"][weekNum-1].disabled = false;
		}
	}
	else{		
		for(weekNum=1; weekNum<=dom["teachWeekCheckbox[]"].length; weekNum++){
			
			if (slotDetails[index]['freq']=="Odd"){
				if(weekNum%2!=0){
					if(teachArr[ct]==weekNum){
						dom["teachWeekCheckbox[]"][weekNum-1].checked = true;
						ct++;
						}
					else{
						dom["teachWeekCheckbox[]"][weekNum-1].checked = false;
						}	
					dom["teachWeekCheckbox[]"][weekNum-1].disabled = false;
				}
				else{
					dom["teachWeekCheckbox[]"][weekNum-1].checked = false;	
					dom["teachWeekCheckbox[]"][weekNum-1].disabled = true;
				}
			}
			else{
				if(weekNum%2==0){
					if(teachArr[ct]==weekNum){
						dom["teachWeekCheckbox[]"][weekNum-1].checked = true;
						ct++;
						}
					else{
						dom["teachWeekCheckbox[]"][weekNum-1].checked = false;
						}	
					dom["teachWeekCheckbox[]"][weekNum-1].disabled = false;
				}
				else{
					dom["teachWeekCheckbox[]"][weekNum-1].checked = false;	
					dom["teachWeekCheckbox[]"][weekNum-1].disabled = true;
				}
			}
		}
	}
}

function lecturerChange(request){
	var dom = document.getElementById("MainForm");
	var lecList=new Array();
	var lecturerStr="";
	removeAllDDMItem('existLecturer');
	removeAllDDMItem('lecturerSel');
	lecList=request.responseText.split(",");
	for (var k=0;k<lecList.length-1;k++){
		var tempArr=new Array();
		tempArr=lecList[k].split(":");
		var newOption = new Option();
		newOption.text = tempArr[1];
		newOption.value = tempArr[0];
		lecturerStr+=tempArr[0]+",";
		dom.existLecturer.options[k]=newOption;
	}
	
	var count=0;
	
	
	
	<% 0.upto(@lecturer_list.length-1) do |lc|%>
		
		if(lecturerStr.match("<%=@lecturer_list[lc].staffId%>,")!="<%=@lecturer_list[lc].staffId%>,"){
		var newOption = new Option();
		newOption.text = "<%=@lecturer_list[lc].staffName%>";
		newOption.value = "<%=@lecturer_list[lc].staffId%>";
		dom.lecturerSel.options[count]=newOption;
		count++;
		}
	<% end %>
	if (dom.lecturerSel.options.length==0)
		dom.assignBtn.disabled=true;
	else
		dom.assignBtn.disabled=false;
	onChangeExistLecturer();
}

function checkExistLecturer(){
var dom = document.getElementById("MainForm");
new Ajax.Request('/schedule/list_exist_lecturer', {asynchronous:true, evalScripts:true, onComplete:function(request){lecturerChange(request)}, parameters:'subcode='+dom.subcode.value+'&'+'ctSel='+dom.ctSel.value+'&'+'grpIndex='+dom.grpSel.value});
}

function onChangeExistLecturer(){
var dom = document.getElementById("MainForm");
new Ajax.Request('/schedule/check_teach_week', {asynchronous:true, evalScripts:true, onComplete:function(request){setTeachWeekBox(request)}, parameters:'subcode='+dom.subcode.value+'&'+'ctSel='+dom.ctSel.value+'&'+'grpIndex='+dom.grpSel.value+'&'+'staffId='+dom.existLecturer.value});
}

function setTeachWeekBox(request){
	var dom = document.getElementById("MainForm");
	var teachArr=new Array();
	teachArr=request.responseText.split(",");
	var ct=0;
	for(weekNum=1; weekNum<=dom["teachWeekCheckbox[]"].length; weekNum++){
		if(teachArr[ct]==weekNum){
			dom["teachWeekCheckbox[]"][weekNum-1].checked = true;
			ct++;
		}
		else{
		dom["teachWeekCheckbox[]"][weekNum-1].checked = false;
		}
	}
	
	dom.teachWeekList.value=request.responseText;
}

function teachWeekChange(){
var dom = document.getElementById("MainForm");
var teachWeekList=""
	for(var weekNum=1; weekNum<=dom["teachWeekCheckbox[]"].length; weekNum++){
			if(dom["teachWeekCheckbox[]"][weekNum-1].checked ==true){
				teachWeekList+=weekNum+",";
			} //end-if
		} //end-for
teachWeekList=teachWeekList.substr(0,teachWeekList.length-1);
dom.teachWeekList.value=teachWeekList;
}

function done(){
	opener.selfReload();
	showOpener();
}

function updateOK(){
	alert("Update Successfully.")
}
</SCRIPT>
	</head>
	<body onload="groupChange()">
	<h3 align=center>Timetable Planning and Scheduling System</h3>
	<table border=1 width=550 cellpadding=1>
	<form name="MainForm" id="MainForm" method="post" action="">
		<tr>
			<td colspan="2" align=center class="style1">Assign / Unassign / Update Staff in Slot</td>
		</tr>
		<tr>
			<td> Subject Code: </td>
			<td>
				<input name="subcode" type="text" id="subcode" value="<%=@scode%>" size="15" readonly />
			</td>
		</tr>
		<tr>
			<td> Number of Academic Units (AU): </td>
			<td>
				<input name="subau" type="text" maxlength="2" id="subau" value="<%=@au%>" size="15" readonly />
			</td>
		</tr>
		<tr>
			<td> Existing Group(s) in slot: </td>
			<td >
				<select name="grpList" id="grpList" style="width:120px" onchange="groupChange();" >
				<% 0.upto(@slot_details.length-1) do |s| %>	
					<% grpven=@slot_details[s].groupIndex+"-"+@slot_details[s].venueName%>
					<option value="<%=@slot_details[s].allocId%>"><%=grpven%>
				<% end %>
				</select>
				<input type=hidden id="grpSel" name="grpSel" value="<%=@slot_details[0].groupIndex%>"/>
			&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;
			Total:&nbsp;;
				<input name="noOfgrp" type="text" id="noOfgrp" value="<%=@slot_details.length-%>" size="2" maxlength="3" readonly /> grp(s)
			</td>
		</tr>
		<tr>
			<td> Selected Day: </td>
			<td><input name="daySel" type="text" id="daySel" value="<%=@day_choose-%>" size="15" readonly />
			</td>
		</tr>
		<tr>
			<td> Start Time: </td>
			<td>
				<input name="stSel" type="text" id="stSel" value="<%=@startT-%>" size="15" readonly />				
			</td>
		</tr>
		<tr>
			<td> End Time: </td>
			<td>
				<input name="etSel" type="text" id="etSel" value="<%=@endT-%>" size="15" readonly />		
				
				&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;
			Duration:<input name="duration" type="text" id="duration" value="1" size="3" maxlength="2" readonly/> hrs
			</td>
		</tr>
		<tr>
			<td> Class Type: </td>
			<td> 
				<input name="ctSel" type="text" id="ctSel" value="<%=@slot_details[0].lessonType-%>" size="15" readonly />			
			</td>
		</tr>
		<tr>
			<td> Frequency of Class: </td>
			<td> 
				<input name="freqSel" type="text" id="freqSel" value="<%=@slot_details[0].freq-%>" size="15" readonly />			
			</td>
		</tr>		
		<tr>
			<td> New Lecturer: </td>
			<td>
				<select name="lecturerSel" id="lecturerSel" style="WIDTH: 120px">
					<option value=0> Not Assigned
					<% 0.upto(@lecturer_list.length-1) do |lc|%>
						<% 
						checkOk=true
						0.upto(@exist_lecturer_list.length-1) do |exl| 
							if @lecturer_list[lc].staffId==@exist_lecturer_list[exl].staffId
								checkOk=false
								break
							end
						end %>
						<% if checkOk %>
							<%= "<option value=#{@lecturer_list[lc].staffId}>" + @lecturer_list[lc].staffName -%>
						<% end %>
					<% end %>
				</select>
				&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;
				<input type="button" name="assignBtn" id="assignBtn" tabIndex="27" value="Assign" onclick="<%=remote_function(:url=>{:action=>'assign_lecturer'},:with=>"'subcode='+subcode.value+'&'+'ctSel='+ctSel.value+'&'+'grpIndex='+grpSel.value+'&'+'staffId='+lecturerSel.value+'&'+'teachWeekList='+teachWeekList.value",:complete=>"lecturerChange(request)")%>">
			</td>
		</tr>
		<tr>
			<td> Existing Lecturer(s): </td>
			<td>
				<select name="existLecturer" id="existLecturer" style="WIDTH: 120px" onChange="onChangeExistLecturer();">
					<!--by default: Lec type-->
					<% 
					   exist=false;
					   0.upto(@exist_lecturer_list.length-1) do |exl|
						if @exist_lecturer_list[exl].lessonType==@slot_details[0].lessonType && @exist_lecturer_list[exl].groupIndex==@slot_details[0].groupIndex	%>
						<%= "<option value=#{@exist_lecturer_list[exl].staffId}>" + @exist_lecturer_list[exl].staffName -%>
						
						<% 
						exist=true
						end %>
					<% end %>
					<% if exist==false %>
						<option value=0>Not Assigned
					<% end %>
				</select>
				&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;&nbsp;;
				<input type="button" name="unassignBtn" id="unassignBtn" tabIndex="27" value="Unassign" onclick="<%=remote_function(:url=>{:action=>'unassign_lecturer'},:with=>"'subcode='+subcode.value+'&'+'ctSel='+ctSel.value+'&'+'grpIndex='+grpSel.value+'&'+'staffId='+existLecturer.value+'&'+'freqSel='+freqSel.value",:complete=>"lecturerChange(request)")%>">
			</td>
		</tr>
		<tr>
			<td> Teaching Week(s): </td>
			<td>
					
				<%
					1.upto(13) do |wk|
						%>
							<input type="checkbox" name="teachWeekCheckbox[]" id="teachWeekCheckbox[]" onclick="teachWeekChange()" value="<%=wk%>" ><%=wk%>
						
					<%end
				%>
				<input type=button value="Update Teach Weeks" name="UpdateBtn" id="UpdateBtn" onclick="<%=remote_function(:url=>{:action=>'update_teach_weeks'},:with=>"'subcode='+subcode.value+'&'+'ctSel='+ctSel.value+'&'+'grpIndex='+grpSel.value+'&'+'staffId='+existLecturer.value+'&'+'teachWeekList='+teachWeekList.value",:complete=>"updateOK();")%>">
				<!--default: week 1-13-->
				<input name="teachWeekList" type="hidden" id="teachWeekList" value="1,2,3,4,5,6,7,8,9,10,11,12,13"/>
				
			</td>
		</tr>	
	</table>
	<p align="center">
					
					<input type="button" name="doneBtn" id="doneBtn" tabIndex="27" value="Done" onclick="done()">
	</p>
	</form>	
	</body>
</html>